[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymysql = "*"
flask-sqlalchemy = "*"
flask-script = "*"
pytest = "*"
"flake8" = "*"
flask-migrate = "*"
flask-wtf = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.6"
