[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=1.1.4"
flask-script = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
praw = "*"
markdown = "*"
flask-bootstrap = "*"
urllib3 = ">=1.26.5"
email-validator = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
coverage = "*"
flask-testing = "*"
selenium = "*"

[requires]
python_version = "3"
