<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Wolfit</title>
        {% else %}
        <title>Wolfit</title>
        {% endif %}
    </head>
    <body>
        <div id="header">
            <span id="page-title">Wolfit - {{ title }}</span>
            <ul>
            <li class="nav" id="nav-home"><a href="/index">Home</a></li>
            {% if current_user.is_anonymous %}
                <li class="nav" id="nav-login"><a href="{{ url_for('login') }}" id="nav-login-link">Login</a></li>
            {% else %}
                <li class="nav" id="nav-profile"><a href="{{ url_for('user', username=current_user.username) }}" id="nav-profile-link">Profile</a></li>
                <li class="nav" id="nav-logout"><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
            </ul>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>