{% macro post_meta(post) %}
  <div class="post-meta">Posted by <a href="{{ url_for('user', username=post.author.username) }}" id="author-link">{{ post.author.username }}</a> {{ post.pretty_timestamp() }}</div>
{% endmacro %}

{% macro voting(post, index) %}
  <p class="text-center">
    <a href="{{ url_for('up_vote', id=post.id) }}" id="up_vote-{{ index }}-link"><span class="glyphicon glyphicon-arrow-up"></span></a><br/>
    {{ post.vote_count }}<br/>
    <a href="{{ url_for('down_vote', id=post.id) }}" id="down_vote-{{ index }}-link"><span class="glyphicon glyphicon-arrow-down"></span></a>
  </p>
{% endmacro %}